name: ecommerce
description: ecommerce

publish_to: 'none'

version: 2.0.0+1

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.8
  provider: any

  tools:
    # git: https://github.com/emadhbasri/tools
    path: /Users/emad/Documents/development/projects/flutter/packages/tools/
    # path: ../tools/

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true
  assets:
    - assets/images/